{% extends "layout/base.html" %}

{% block title %} 
Create User
{% endblock title %}

{% block content %}

{% include "include/messages.html" %}
<div class="col-md-8 mx-auto mt-3 text-center">
    <br><br><br><br><br>
    <div>
        <h1>CUSTOMER APPLICATION FORM</h1>
    <form action="/customers/store" method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="first_name">First Name</label>
                <br>
                <input type="text" class="form.control" id="first_name" name="first_name" />          
            </div>
            <div class="col-md-6">
                <label for="middle_name">Middle Name</label>
                <br>
                <input type="text" class="form.control" id="middle_name" name="middle_name" />          
            </div>
            <div class="col-md-6">
                <label for="last_name">Last Name</label>
                <br>
                <input type="text" class="form.control" id="last_name" name="last_name" />          
            </div>
            <div class="col-md-6">
                <label for="email">Email</label>
                <br>
                <input type="email" class="form.control" id="email" name="email" />          
            </div>
            <div class="col-md-6">
                <label for="contact">Contact</label>
                <br>
                <input type="text" class="form.control" id="contact" name="contact" />          
            </div>
            <div class="col-md-6">
                <label for="age">Age</label>
                <br>
                <input type="text" class="form.control" id="age" name="age" />          
            </div>
            <div class="col-md-6">
                <label for="birth_date">Birth Date</label>
                <br>
                <input type="date" class="form.control" id="birth_date" name="birth_date" />          
            </div>
            <div class="col-md-6">
                <label for="gender_id">Gender</label>
                <select name="gender_id" id="gender_id" class="form-select">
                    <option value="">N/A</option>
                    {% for gender in genders %}
                    <option value="{{ gender.gender_id }}">{{ gender.gender }}</option>
                    {% endfor %}
                </select>                     
            </div>
        </div>
        <button type="submit" class="btn btn-success float-end col-12 col-md-3 me-1 mx-auto text-center">Save Customer</button>
        <a href="/customers" class="btn btn-secondary float-end col-12 col-md-3 me-1 mx-auto text-center">Back</a>
    </form>
    </div>
</div>

{% endblock content %}